#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

h1 {
  margin: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#app {
  display: block;
  min-height: 100vh;
  height: 100vh
}

#button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: '100%';
  gap: 20px;
  padding: 20px;
}